/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-dark-yellow: #dfc043;
  --color-dark-green: #8c944c;
  --color-dark-blue: #0f123b;

  /* Font Size */
  --font-large: 77px;
  --font-medium: 45px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Border Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Unniversal tag */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: var(--weight-semi-bold);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 0;
}

h3 {
  font-size: var(--font-medium);
  font-weight: var(--weight-regular);
  margin: 0;
}

p {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  margin: 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  z-index: 1;
  transition: var(--animation-duration);
  background-color: var(--color-white);
}

#navbar.navbar--dark {
  padding: 2px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.navbar__logo img {
  width: 100px;
  height: 100px;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  font-size: var(--font-regular);
  padding: 17px;
  margin: 5px;
}

.navbar__menu__item a {
  color: var(--color-black);
  transition: var(--animation-duration);
}

.navbar__menu__item a:hover {
  color: var(--color-dark-yellow);
}

.navbar__toggle-btn {
  position: absolute;
  top: 24px;
  right: 32px;
  font-size: 24px;
  color: var(--color-dark-yellow);
  background-color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url(/image/asdasd.png);
  background-size: 100% 100%;
  text-align: center;
  padding: 172px 0;
  padding-top: 300px;
  background-attachment: fixed;
  background-position: center;
  background-position: 0 100px;
  background-repeat: no-repeat;
  padding-bottom: 173px;
}

.home__title {
  font-size: var(--font-large);
  transition: var(--animation-duration);
  padding-top: 100px;
  color: var(--color-white);
}

.home__title:hover {
  color: var(--color-dark-yellow);
  transition: all var(--animation-duration);
}

.home__name {
  color: var(--color-white);
}

.home__description {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: var(--color-white);
  transition: all var(--animation-duration);
}

.home__description:hover {
  text-shadow: -1px 0 #dfc043, 0 1px #dfc043, 1px 0 #dfc043, 0 -1px #dfc043;
}

.home__more {
  margin: 36px 0 0;
}

.home__more a:hover {
  color: var(--color-dark-yellow);
  background-color: var(--color-white);
  transition: var(--animation-duration) ease-in-out;
  padding: 20px;
}

.home__btn {
  padding: 12px;
  border-radius: 50px;
  background-color: var(--color-dark-yellow);
}

.home__down {
  padding: 120px 0 0;
  font-size: var(--font-medium);
  color: var(--color-dark-yellow);
}

.home__down.visible {
  opacity: 1;
  pointer-events: auto;
}

.home__down i {
  transition: var(--animation-duration) ease;
}

.home__down:hover i {
  transform: scale(1.3);
}

/* common ground(section) */
.section {
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1500px;
  margin: auto;
}

/* Work */
#work {
  background-color: #090909;
}

.section__container {
  padding: 80px;
}

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
  background-color: var(--color-white);
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-white);
  color: var(--color-white);
  background-color: #f3aa2a;
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-white);
  border-radius: 50%;
  color: var(--color-black);
  width: 24px;
  height: 24px;
  line-height: 24px;
  margin-top: 6px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__img {
  width: 100px;
  height: 100px;
  display: block;
  transition: var(--animation-duration);
}

.work__featured {
  padding-top: 30px;
  color: var(--color-white);
  font-size: var(--font-medium);
}

.work p {
  margin-bottom: 10px;
  color: var(--color-white);
}

.work__bar {
  width: 10%;
  height: 4px;
  background-color: #f4f3ee;
  margin: 30px auto;
  opacity: 0.6;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.8) translateY(40px);
}

.project {
  position: relative;
  display: block;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 450px;
  border-radius: 30px;
  margin: 30px;
  margin-top: 30px;
  background-color: var(--color-white);
  box-shadow: 5px 5px 7px #333;
}

.project.invisible {
  display: none;
}

.project:hover {
  transform: scale(1.04);
  transition: var(--animation-duration);
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  border-radius: 30px 30px 0 0;
  width: 100%;
  height: 60%;
}

.project__description {
  text-align: left;
  padding: 20px;
}

.project__description h3 {
  position: relative;
  font-size: 15px;
  color: var(--color-black);
}

.project__description span {
  font-size: 25px;
  font-weight: var(--weight-bold);
}

.project__btn {
  display: flex;
  padding: 5px;
  color: #e69d28;
  left: 0;
  margin-top: 20px;
  font-size: 20px;
  background-color: var(--color-white);
}

.project__btn i {
  margin: 1px 0 0 10px;
}

.project__btn:hover {
  color: var(--color-black);
  transition: var(--animation-duration) ease-in-out;
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 80px;
  height: 3px;
  transform: translateX(-50%);
  color: var(--color-dark-yellow);
  background-color: gray;
  margin: 10px 0;
}

/* CONNECT */
#connect {
  background-color: #f3aa2a;
}

.connect__title,
.connect__email,
.connect__description {
  color: var(--color-white);
}

.connect__title {
  font-size: 35px;
  padding-top: 50px;
}

.connect__email {
  font-size: 20px;
  padding: 10px 0 0;
}

.connect__email span {
  color: var(--color-black);
}

.connect__links {
  font-size: 30px;
  margin: 24px 0;
  transition: all var(--animation-duration) ease-in;
}
.connect__links a {
  color: var(--color-white);
}

.connect__links a:hover {
  color: var(--color-black);
  transition: var(--animation-duration);
}

.connect__links i {
  background-color: #4f4e5f;
  border-radius: 50%;
  padding: 10px;
}

.connect__links i:hover {
  transform: rotate(-30deg) scale(1.1);
  transition: all var(--animation-duration) ease-in;
}

.connect__description {
  padding-bottom: 50px;
}

/* arrowUp */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: 2px solid var(--color-black);
  border-radius: 50%;
  color: var(--color-black);
  opacity: 0;
  transition: all 300ms ease-in;
  background-color: #fdfdfd;
}

.arrow-up:hover {
  transform: rotate(-360deg) scale(1.1);
  transition: all 500ms ease-in-out;
}

.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

@media screen and (max-width: 768px) {
  :root {
    --font-large: 50px;
    --font-medium: 38px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  #navbar {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-white);
  }

  #navbar.navbar--dark {
    padding-bottom: 50px;
  }

  .navbar__logo img {
    position: fixed;
    width: 50px;
    height: 50px;
  }

  .navbar__menu {
    position: relative;
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    border-top: 3px solid var(--color-dark-yellow);
    top: 53px;
    transition: all var(--animation-duration);
  }

  .navbar__menu__item.active {
    padding-bottom: 40px;
  }

  .navbar__menu.open {
    display: block;
  }

  .navbar__toggle-btn {
    display: block;
    top: 19px;
    right: 19px;
    font-size: 20px;
  }

  #home {
    padding-bottom: 178px;
  }

  .home__title {
    padding: 150px 0 0 0;
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  .arrow-up {
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    font-size: 20px;
  }
}
